# Убираем .html из адреса
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]

# Защита скрытых файлов
<Files ~ "^\.">
    Order allow,deny
    Deny from all
</Files>

# Запрет просмотра папок
Options -Indexes